@font-face {
    font-family: PoppinsB;
    src: url(../assets/fonts/poppins_black.ttf);
}
@font-face {
    font-family: Un;
    src: url(../assets/fonts/unbounded_light.ttf);
}
@font-face {
    font-family: Inconsolata;
    src: url(../assets/fonts/inconsolata_variablefont_wdth\,wght.ttf);
}

/* HEADER */
.container_header{
    max-width: 1300px;
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:white; 
}
.dev{
    background-color: black;
}
.p_header{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    font-family: Inconsolata;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.p{
    color: black;
    font-family: Inconsolata;
}
.nav{
    text-align: center;
}
.enlace_nav{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 1.2rem;
    font-family: Inconsolata;
}
.enlace_nav:hover{
    color: cornflowerblue;
}
.img_header{
    text-align: end;
}
.img{
    width: 35px;
    height: 35px;
    padding: 5px;
}

/* MAIN */
.container_main{
    max-width: 1300px;
    width: 1200px;
    margin: 0 auto;
}
.main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.section{
    width: 700px;
}
.img_aside{
    width: 500px;
    padding: 40px;
}
.aside{
    width: 500px;
}
.titulo_aside{
    padding-right: 40px;
}
.h1{
    padding-top: 20px;
    font-family: PoppinsB;
}
.p_aside{
    font-size: 1.25rem;
    font-family: Inconsolata;
}
.p_dinero{
    font-family: PoppinsB;
}
.enlace_aside{
    color: black;
    font-family: Inconsolata;
}
.enlace_aside:hover{
    text-decoration: none;
}
.enlace_tallas{
    padding: 20px 10px 10px 0px
}
.enlace_tallas1{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: Inconsolata;
}
.enlace_tallas12{
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
.enlace_tallas14{
    padding-top: 20px;
}
.enlace_tallas11{
    padding: 5px 25px;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
}
.enlace_tallas11:hover{
    color: white;
    background-color: black;
}
.enlace_tallas13{
    padding: 5px 30px;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
}
.enlace_tallas13:hover{
    color: white;
    background-color: black;
}
.carrito_enlace{
    padding-top: 30px;
}
.enlace_carrito{
    text-decoration: none;
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 10px 32px;
    font-family: Inconsolata;
}
.enlace_carrito:hover{
    background-color: black;
    color: white;
}
.enlace_carrito1{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 10px 20px;
    font-family: Inconsolata;
}
.enlace_carrito1:hover{
    background-color: black;
    color: white;
}
.h3{
    text-align: center;
    padding-top: 20px;
    font-family: PoppinsB;
}
.tabla{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    margin: 40px 10px 40px 370px;
}
.td{
    border: 1px solid black;
    padding: 10px 40px;
    font-family: Inconsolata;
}
.td1{
    border: 1px solid black;
    padding: 10px 40px;
    background-color: lightgray;
    font-family: Inconsolata;
}
.td12{
    border: 1px solid black;
    padding: 10px 40px;
    background-color: lightgray;
    font-family: PoppinsB;
}

/* FOOTER */
.container_footer{
    background-color: gray;
}
.suscrib{
    width: 1350px;
    max-width: 1400px;
    margin: 0 auto;
}
.footer{
    align-items: center;
    margin-top: 20px;
}
.h2_footer{
    color: black;
    padding: 30px 40px 0px;
    font-family: PoppinsB;
}
.formulario_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto_form{
    padding: 5px 210px 5px 0px;
}
.boton_form{
    padding: 5px 10px;
    color: white;
    background-color: black;
}
.boton_form:hover{
    color: black;
    background-color: white;
}
.formulario{
    margin-right: 60px;
}
.p_enlace{
    text-align: center;
    color: black;
    padding: 20px;
}
.formulario_check{
    text-align: end;
    font-family: Inconsolata;
    padding-right: 20px;
    font-size: 0.84rem;
}
.rrss_footer{
    text-align: end;
    padding: 20px 360px 10px 0px;
    border-bottom: 1px solid black;
}
.img_rrss{
    width: 30px;
    padding: 5px;
}
.enlace_footer{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.enlace_footer:hover{
    color: white;
}
.p_footer{
    color: black;
    text-align: center;
    padding: 20px;
    font-family: Inconsolata;
    font-size: 0.8rem;
    padding: 3px 20px 20px 20px;
    margin-left: 20px;
}
.lista_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul_footer{
    width: 300px;
}
.li_footer{
    list-style: none;
    padding: 5px;
    font-family: Inconsolata;
}
.h4{
    padding-left: 23px;
    font-family: PoppinsB;
}
.h3_footer{
    text-align: center;
    padding: 20px;
    font-family: PoppinsB;
}
